/* #caja{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
} */

.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

.activa{
    background-color: blue;
    transform: scale(1.1);
}

.practica{
    display: flex;
/*     background-color: aquamarine; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea{
    width: 95%;
    height: 50px;
    margin-bottom: 25px;
}

.comentario{
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
}

.fecha{
    font-size: 10px;
    color: cadetblue;
}

.eliminar{
    margin-top: 10px;
    background-color: red;
    color: azure;
}