/* #caja{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
} */

.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

.activa{
    background-color: blue;
    transform: scale(1.1);
}

#practica{
    display: flex;
    width: 90%;
    height: 400px;
/*     background-color: aquamarine; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textBox{
    width: 90%;
    height: 200px;
/*     background-color: blue; */
}

#btnComentar{
    margin-top: 50px;
    width: 100px;
}